.Section1 {
    border: 2px solid black !important;
    background-color: beige;
} 

.Section2 {
    border: 2px solid black !important; 
    background-color: azure;
}

.section3 {
    border: 2px solid black !important; 
    background-color:aliceblue
}

#expellCards .card .card-body {
    background-color: brown;
    border: 2px solid black;
    font-family:fantasy
}
#cards .card #Gryffindor {
    background-color: red;
}
#cards .card #Hufflepuff {
    background-color: rgb(245, 182, 35);
}
#cards .card #Slytherin {
    background-color: rgb(28, 163, 57);
}
#cards .card #Ravenclaw {
    background-color: rgb(58, 96, 193);
}